body {
  width: 1440px;
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 0.8125rem;
  text-align: center;
}

span, br, p, div{
  margin: 0;
  padding: 0;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* IMAGE BORDERS */

.lite-border {
  border: 2px solid hsla(0, 0%, 81%, 0.5);
}

.drk-border {
  border: 2px solid hsl(263, 55%, 52%);
}

.drkr-border {
  border: 2px solid hsl(219, 29%, 14%);
}

/* CONTENT */

.name {
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  margin-left: 60px;
  line-height: 0;
}

.verified-grad {
  line-height: 2.5;
  font-size: 0.875rem;
  opacity: 50%;
}

.main-quote {
  font-size: 1.22rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 20px auto;
}

.main-paragraph {
  opacity: 70%;
}


/* GRID */

.grid-container {
  max-width: 1200px;
  margin-top: 50px;
  margin-left: 150px;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  grid-template-areas:  "h1 h1 h2 h5"
                        "h3 h4 h4 h5";
}

.grid-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px 35px 25px 35px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.15);
}

.grid-item:first-child {
  background: url('images/bg-pattern-quotation.svg') no-repeat top right 90px;
  background-size: 112px 120px;
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 81%);
  grid-area: h1;
}

.grid-item:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 81%);
  grid-area: h2;
}

.grid-item:nth-child(3) {
  background-color: hsl(0, 0, 100%);
  grid-area: h3;
  color: hsl(219, 29%, 14%);
}

.grid-item:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
  grid-area: h4;
}

.grid-item:last-child {
  background-color: hsl(0, 0, 100%);
  color: hsl(219, 29%, 14%);
  grid-area: h5;
}

/* FOOTER */
.attribution {
  font-size: 0.6875rem;
  margin: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 750px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "h1"
                             "h2"
                             "h3"
                             "h4"
                             "h5";

    }
}
