body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 0.8125rem;
  text-align: left;
}

span, br, p, div{
  margin: 0;
  padding: 0;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* IMAGE BORDERS */

.lite-border {
  border: 2px solid hsla(0, 0%, 81%, 0.8);
}

.drk-border {
  border: 2px solid hsla(263, 55%, 52%, 0.8);
}

.drkr-border {
  border: 2px solid hsla(219, 29%, 14%, 0.8);
}

/* CONTENT */

.name {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 0;
}

.verified-grad {
  line-height: 2.5;
  font-size: 0.875rem;
  opacity: 50%;
}

.main-quote {
  font-size: 1.22rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 15px auto;
}

.main-paragraph {
  opacity: 70%;
  line-height: 1.5;
}


/* GRID */

.grid-container {
  display: grid;
  margin: 150px auto;
  max-width: 1200px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5em;
  grid-template-areas: "h1 h1 h2 h5"
                       "h3 h4 h4 h5";
}

.grid-item {
  border-radius: 10px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.15);
}

.grid-item:first-child {
  background: url('images/bg-pattern-quotation.svg') no-repeat top right 90px;
  background-size: 112px 120px;
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  grid-area: h1;
  padding: 5% 10%;
}

.grid-item:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
  grid-area: h2;
  padding: 10% 16%;
}

.grid-item:nth-child(3) {
  background-color: #fff;
  grid-area: h3;
  color:  hsl(217, 19%, 35%);
  padding: 10% 16%;
}

.grid-item:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
  grid-area: h4;
  padding: 5% 10%;
}

.grid-item:last-child {
  background-color: #fff;
  color:  hsl(217, 19%, 35%);
  grid-area: h5;
  padding: 10% 17%;
}

/* FOOTER */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media screen and (max-width: 750px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "h1"
                             "h2"
                             "h3"
                             "h4"
                             "h5";

    }
} */

@media (min-width: 420px) and (max-width: 1000px) {
  .grid-container {
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5em;
    grid-template-areas: "h1 h1 h2"
                         "h3 h4 h4"
                         "h5 h5 h5";
  }

  .grid-item:first-child {
    background: url('images/bg-pattern-quotation.svg') no-repeat top right 50px;
    background-size: 100px 110px;
    background-color: hsl(263, 55%, 52%);
    padding: 10% 12%;
  }

  .grid-item:last-child {
    background-color: #fff;
    color:  hsl(217, 19%, 35%);
    grid-area: h5;
    padding: 5%;
  }
}

@media screen and (max-width: 420px) {
  .grid-container {
    width: 320px;
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:     "h1"
                             "h2"
                             "h3"
                             "h4"
                             "h5";
  }

  .grid-item:first-child {
    background: url('images/bg-pattern-quotation.svg') no-repeat top right 18px;
    background-size: 100px 110px;
    background-color: hsl(263, 55%, 52%);
    padding: 10% 12%;
  }

  .grid-item:nth-child(2) {
    padding: 10% 12%;
  }

  .grid-item:nth-child(3) {
    padding: 10% 12%;
  }

  .grid-item:nth-child(4) {
    padding: 10% 12%;
  }

  .grid-item:last-child {
    padding: 10% 12%;
  }

  img {
    width: 28px;
    height: 28px;
  }

  .name {
    font-size: 0.9175rem;
  }
  
  .verified-grad {
    font-size: 0.8125rem;
  }

  .main-quote {
    font-size: 1.165rem;
  }

  .main-paragraph {
    font-size: 0.8rem;
  }

  

}
